[color]
    status = auto
    diff = auto
    ui = auto
    branch = auto
    interactive = auto
[core]
    excludesfile = ~/.gitexcludesfile
    editor = vim
[push]
    default = current
[user]
    name = Florent Destremau
    email = florent.destremau@gmail.com
[alias]
    lg = log -M --decorate --graph --oneline
    ci = commit
    clo = clone
    co = checkout
    sth = stash
    st = status
    br = branch
    rc = rebase --continue
    pur = pull --rebase
